@{
    ViewBag.Title = "About";
}

<h2>  </h2>
<h1>Hello,</h1>
<p style="text-align:center">
    
    <h2>
        Welcome to Student Information System. This application will get you through details of courses, departments, instructor and many more.

        You can enrol to your respective courses and departments with just adding few of your details.

        Go to mentioned tables and add your details.

        If any queries feel free to contact us.

        Thank you.


    </h2>




</p>
