@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Deepesh Patel<br />
    Student ID: 104970135<br />
    University of Windsor<br />
    <abbr title="Phone">P:</abbr>
    2265067259 <br />
    <abbr title="Email">E:</abbr>
    patel1ww@uwindsor.ca
</address>


<address>
    Divij Jawa<br />
    Student ID: 105051574<br />
    University of Windsor<br />
    <abbr title="Phone">P:</abbr>
    6477390874 <br />
    <abbr title="Email">E:</abbr>
    jawa1@uwindsor.ca
</address>


<address>
    Khyati Patel<br />
    Student ID: 104916696<br />
    University of Windsor<br />
    <abbr title="Phone">P:</abbr>
    5199874032<br />
    <abbr title="Email">E:</abbr>
    patel1so@uwindsor.ca

</address>


<address>
    Suchita Patel<br />
    Student ID: 105064219<br />
    University of Windsor<br />
    <abbr title="Phone">P:</abbr>
    5199873818<br />
    <abbr title="Email">E:</abbr>
    patel225@uwindsor.ca

</address>



